@{
    ViewBag.Title = "";
}

<style>
    /*Here I will add some css for looks good*/
    .tabContainer {
        max-height: 400px;
        overflow: auto;
        width: 80%;
    }

    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
        width: 100%;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }

    .odd {
        background-color: #f3f3f3;
    }

    .even {
        background-color: #ffffff;
    }

    tr.sub {
        display: none;
    }

    .CX {
        width: 35px;
    }

        .CX span {
            font-family: fantasy;
            font-size: 15px;
            display: block;
            width: 100%;
            cursor: pointer;
            text-align: center;
        }
</style>

<h2>Chinook Cutomers using MVC AngularJS</h2>
<div ng-controller="AngController-Index">
    <table class="tableData" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th></th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Company</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>PostalCode</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
  
            </tr>
        </thead>
        <tbody ng-repeat="O in Customers">
            <tr ng-class-even="'even'" ng-class-odd="'odd'">
                <td class="CX"><span>+</span></td>
                <td>{{O.FirstName}}</td>
                <td>{{O.LastName}}</td>
                <td>{{O.Company}}</td>
                <td>{{O.Address}}</td>
                <td>{{O.City}}</td>
                <td>{{O.State}}</td>
                <td>{{O.Country}}</td>
                <td>{{O.PostalCode}}</td>
                <td>{{O.Phone}}</td>
                <td>{{O.Fax}}</td>
                <td>{{O.Email}}</td>


        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/Scripts/AngularController/AngController-Index.js"></script>
    <script>
        $(function () {
            $('body').on('click', '.CX span', function () {
                //When Click On + sign
                if ($(this).text() == '+') {
                    $(this).text('-');
                }
                else {
                    $(this).text('+');
                }
                $(this).closest('tr') // row of + sign
                .next('tr') // next row of + sign
                .toggle(); // if show then hide else show

            });
        });
    </script>
}

